.container{
  width: 100%;
  height: 6.563rem;
  background-color: var(--Background);

  display: flex;
  align-items: center;
}

.logo{
  max-width: 1120px;
  width: 70rem;
  margin: 0 auto;
  padding: 2rem 13.125rem;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
